@charset "UTF-8";
/*todo: add global container*/
#chatAbcdeContainer {
    z-index: 900;
}

/* todo: add icon with contrast + text */
#chatAbcdeButton {
    cursor: pointer;
    position: fixed;
    bottom: 4vh;
    right: 4vh;
    border-radius: .65rem .65rem .65rem 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    font-weight: bold;
    color: black;
    background-color: #ffcc00;
    background-image: url('/img/chatbot.png');
    background-repeat: no-repeat;
    background-size: 1.7rem;
    background-position: 1rem .4rem;
    padding: .5rem 1.5rem .5rem 3.2rem;
    border: none;
    /* todo: add size for <button> */
    font-size: 1em;
}

#chatAbcdeButton:hover, #chatAbcdeButton:focus {
    animation: buttonAnim .25s linear 0s infinite
}

@keyframes buttonAnim {
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(-2deg)
    }
    75% {
        transform: rotate(2deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

#chatAbcdeView {
    position: fixed;
    overflow: hidden;
    width: 420px;
    height: 680px;
    max-width: 96vw;
    max-height: 83vh;
    display: inline-block;
    display: none;
    bottom: 1vh;
    right: 1vh;
    background-color: #fff;
    -webkit-box-shadow: 3px 0px 16px 6px rgba(0, 0, 0, .6);
    -moz-box-shadow: 3px 0px 16px 6px rgba(0, 0, 0, .6);
    box-shadow: 3px 0px 16px 6px rgba(0, 0, 0, .6);
    box-sizing: border-box;
    scrollbar-width: thin;
    z-index: 2147483649 !important;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 1s, visibility 1s;
    transition: opacity 1s, visibility 1s
}

#chatAbcdeViewHeader {
    display: flex;
    align-items: stretch;
    box-shadow: 0 -1.2em 1em 1em #000;
    /*todo : contrast*/
    background-color: #000;
    color: #fff;
    height: 3.5em;
}

#chatAbcdeViewTitle {
    align-self: center;
    padding-left: 1em;
    flex-grow: 1;
    font-size: 1.1em;
    font-weight: 700;
    cursor: move;
    box-sizing: border-box;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#chatAbcdeViewStatus {
    width: 100%;
    height: 4.5em;
    text-align: left;
    padding: 0;
    background: #fff;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .3);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .3);
    border: none;
    box-sizing: border-box
}

#chatAbcdeViewMessages {
    height: calc(100% - 7em);
    text-align: left;
    background: #fff;
    overflow: hidden;
    box-sizing: border-box;
    scrollbar-width: thin
}

#chatAbcdeViewMessagesList {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    scrollbar-width: thin
}

#chatAbcdeViewForm {
    display: flex;
    align-items: stretch;
    height: 3.5em;
    padding: .4em;
    box-sizing: border-box;
    border-top: 1px #ccc solid;
    z-index: 901;
}

#chatAbcdeFileUploader {
    display: none
}

#chatAbcdeViewFormText {
    flex: auto;
    color: black;
    padding: 0 0.5em;
    font-size: 1em;
}

#chatAbcdeTyping {
    position: absolute;
    text-align: center
}

.chatAbcdeDot {
    display: inline-block;
    width: .7em;
    height: .7em;
    border-radius: 50%;
    margin-right: .45em;
    background: gray;
    animation: istyping 1s linear infinite
}

#chatAbcdeTyping :nth-child(2) {
    animation-delay: 1.15s
}

#chatAbcdeTyping :nth-child(3) {
    animation-delay: 1.3s
}

@keyframes istyping {
    0%, 60%, 100% {
        transform: initial
    }
    30% {
        transform: translateY(-15px)
    }
}

#webviewAbcde {
    overflow: hidden;
    width: 100%;
    display: inline-block;
    height: 100%;
    position: relative;
    display: none
}

.receivedAbcde {
    -ms-flex-item-align: end;
    align-self: flex-end
}

.bubbleAbcde {
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    position: relative;
    margin: 1em 0;
    min-width: 1.2em;
    clear: both
}

.bubbleAbcde .button-default {
    border: 2px solid #1f1f1f;
    margin: 2px 0;
    background-color: #fff;
    color: #000;
    width: auto;
    margin: .1em;
    border-radius: 1.5em;
    padding: .7em;
    cursor: pointer
}

.bubbleAbcde button {
    width: 100%;
    max-width: 20em;
    margin: 2px 0;
    overflow: hidden;
}

.sentTextAbcde {
    color: #fff;
    background-color: #1a73e8;
    text-align: right;
    padding: .7em;
    margin: 1em 10px 1em 20%;
    border-radius: 1.5em;
    float: right
}

.sentTextAbcde .rcs {
    background-color: #1a73e8
}

.sentTextAbcde .orange {
    background-color: #f16e00
}

.sentFileAbcde {
    text-align: right;
    float: right;
    max-width: 80%
}

:focus {
    outline: none
}

::-moz-focus-inner {
    border: 0
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
    text-align: center
}

button, select {
    text-transform: none
}

button {
    overflow: visible
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

.buttonSection {
    text-align: center;
    margin: 0 1em 0;
    float: right;
    overflow-x: scroll;
    scrollbar-width: none;
    width: calc(100% - 20px)
}

.quickreplySection {
    text-align: right;
    margin: 0 1em 0;
}

input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    padding: 1px 6px
}

input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface
}

input, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    margin: 0;
    font: 13.3333px Arial
}

input, textarea, keygen, select, button, meter, progress {
    writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb
}

button {
    -webkit-appearance: button
}

/*todo:*/
#chatAbcdeViewFormMore, #chatAbcdeViewFormSend {
    color: black;
    cursor: pointer;
    padding: 0.5em;
}

#chatAbcdeViewMinButton, #chatAbcdeViewCloseButton {
    color: white;
    padding: 0.5em;
}

/*todo: button without focus */
#chatAbcdeViewMinButton,
#chatAbcdeViewCloseButton,
#chatAbcdeViewFormMore,
#chatAbcdeViewFormText,
#chatAbcdeViewFormSend,
.bubbleAbcde button {
    border: none;
    background: transparent;
    outline: 1px solid transparent;
    outline-offset: 50px;
    transition: 0.2s all ease;
}

/*todo: on focus event */
#chatAbcdeViewMinButton:focus,
#chatAbcdeViewCloseButton:focus,
#chatAbcdeViewFormMore:focus,
#chatAbcdeViewFormText:focus,
#chatAbcdeViewFormSend:focus,
.bubbleAbcde button:focus {
    outline: 2px solid #ff7900;
    outline-offset: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}
/* todo: add class for icon size */
.fa-1-5x {
    font-size: 1.5em;
}
