@charset "UTF-8";
#chatAbcdeButton {
    position: fixed;
    font-family: Roboto;
    font-size: 12px;
    overflow: hidden;
    width: 64px;
    height: 64px;
    max-width: 10vh;
    max-height: 10vh;
    display: inline-block;
    display: none;
    bottom: 4vh;
    right: 4vh;
    background-color: transparent;
    -webkit-box-shadow: 2px 5px 8px 2px rgba(0,
    0,
    0,
    .4);
    -moz-box-shadow: 2px 5px 8px 2px rgba(0,
    0,
    0,
    .4);
    box-shadow: 2px 5px 8px 2px rgba(0,
    0,
    0,
    .4);
    box-sizing: border-box;
    border-radius: 50%;
    background-size: cover;
    background-image: url(/img/orange-i.png);
    z-index: 2147483647 !important;
    cursor: pointer
}

#chatAbcdeButton:hover,
#chatAbcdeButton:focus {
    animation: button2 .25s linear 0s infinite
}

@keyframes button1 {
    to {
        box-shadow: 2px 8px 8px 2px rgba(0, 0, 0, .4);
        transform: translateY(-2px)
    }
}

@keyframes button2 {
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(-8deg)
    }
    75% {
        transform: rotate(8deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

#chatAbcdeView {
    position: fixed;
    font-family: Roboto;
    font-size: 12px;
    overflow: hidden;
    width: 420px;
    height: 680px;
    max-width: 96vw;
    max-height: 83vh;
    display: inline-block;
    display: none;
    bottom: 1vh;
    right: 1vh;
    background-color: #fff;
    -webkit-box-shadow: 3px 0px 16px 6px rgba(0, 0, 0, .6);
    -moz-box-shadow: 3px 0px 16px 6px rgba(0, 0, 0, .6);
    box-shadow: 3px 0px 16px 6px rgba(0, 0, 0, .6);
    box-sizing: border-box;
    scrollbar-width: thin;
    z-index: 2147483649 !important;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 1s, visibility 1s;
    transition: opacity 1s, visibility 1s
}

#chatAbcdeViewHeader {
    position: absolute;
    width: 100%;
    height: 3.5em;
    box-shadow: 0 -1.2em 1em 1em #000;
    z-index: 900
}

#chatAbcdeViewTitle {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.3em;
    font-weight: 700;
    padding: .5em 5em;
    cursor: move;
    z-index: 901;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background-color: #f60;
    color: #fff
}

#chatAbcdeViewMin {
    position: absolute;
    width: 2em;
    height: auto;
    z-index: 901;
    cursor: pointer;
    margin: .8em;
    right: 2.5em
}

#chatAbcdeViewClose {
    position: absolute;
    width: 2em;
    height: auto;
    z-index: 901;
    cursor: pointer;
    margin: .8em;
    right: 0
}

#chatAbcdeViewStatus {
    width: 100%;
    height: 4.5em;
    text-align: left;
    padding: 0;
    background: #fff;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .3);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .3);
    border: none;
    box-sizing: border-box
}

#chatAbcdeViewMessages {
    position: absolute;
    top: 3.5em;
    width: 100%;
    height: calc(100% - 7em);
    text-align: left;
    background: #fff;
    overflow: hidden;
    z-index: 800;
    box-sizing: border-box;
    scrollbar-width: thin
}

#chatAbcdeViewMessagesList {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    margin-bottom: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    box-sizing: border-box;
    scrollbar-width: thin
}

#chatAbcdeViewForm {
    position: absolute;
    width: 100%;
    height: 3.8em;
    bottom: 0;
    padding: .4em;
    box-sizing: border-box;
    border-top: 1px #ccc solid;
    z-index: 901
}

#chatAbcdeViewFormMore {
    margin: 0 1em 0 0 0;
    cursor: pointer
}

#chatAbcdeFileUploader {
    display: none
}

#chatAbcdeViewFormText {
    width: calc(90% - 4.5em);
    resize: none;
    font-family: "Helvetica 55 Roman", "Verdana", "Arial";
    padding: .9em .8em .5em;
    height: 1.8em;
    color: #666;
    overflow: hidden;
    font-size: 1.2em;
    vertical-align: bottom;
    border: none
}

#chatAbcdeViewFormSend {
    margin: 0 0 0 1em;
    cursor: pointer
}

#chatAbcdeTyping {
    position: absolute;
    text-align: center
}

.chatAbcdeDot {
    display: inline-block;
    width: .7em;
    height: .7em;
    border-radius: 50%;
    margin-right: .45em;
    background: gray;
    animation: istyping 1s linear infinite
}

#chatAbcdeTyping :nth-child(2) {
    animation-delay: 1.15s
}

#chatAbcdeTyping :nth-child(3) {
    animation-delay: 1.3s
}

@keyframes istyping {
    0%,
    60%,
    100% {
        transform: initial
    }
    30% {
        transform: translateY(-15px)
    }
}

#webviewAbcde {
    font-family: Roboto;
    overflow: hidden;
    width: 100%;
    display: inline-block;
    height: 100%;
    position: relative;
    display: none
}

.receivedAbcde {
    -ms-flex-item-align: end;
    align-self: flex-end
}

.bubbleAbcde {
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    position: relative;
    margin: 1em 0;
    min-width: 1.2em;
    clear: both
}

.bubbleAbcde .button-default {
    border: 2px solid #1f1f1f;
    margin: 2px 0;
    background-color: #fff;
    color: #000;
    width: auto;
    margin: .1em;
    border-radius: 1.5em;
    padding: .7em;
    cursor: pointer
}

.bubbleAbcde button {
    width: 100%;
    max-width: 20em;
    margin: 2px 0;
    overflow: hidden;
    outline: none
}

.sentTextAbcde {
    color: #fff;
    background-color: #1a73e8;
    text-align: right;
    padding: .7em;
    margin: 1em 10px 1em 20%;
    border-radius: 1.5em;
    float: right
}

.sentTextAbcde .rcs {
    background-color: #1a73e8
}

.sentTextAbcde .orange {
    background-color: #f16e00
}

.sentFileAbcde {
    text-align: right;
    float: right;
    max-width: 80%
}

:focus {
    outline: none
}

::-moz-focus-inner {
    border: 0
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
    text-align: center
}

button,
select {
    text-transform: none
}

button {
    overflow: visible
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

.buttonSection {
    text-align: center;
    margin: 0 1em 0;
    float: right;
    overflow-x: scroll;
    scrollbar-width: none;
    width: calc(100% - 20px)
}

.buttonSection::-webkit-scrollbar {
    width: 0 !important
}

.quickreplySection {
    text-align: right;
    margin: 0 1em 0;
    float: right;
    overflow-x: scroll;
    scrollbar-width: none;
    width: calc(100% - 20px)
}

.quickreplySection::-webkit-scrollbar {
    width: 0 !important
}

input[type="button" i],
input[type="submit" i],
input[type="reset" i],
input[type="file" i]::-webkit-file-upload-button,
button {
    padding: 1px 6px
}

input[type="button" i],
input[type="submit" i],
input[type="reset" i],
input[type="file" i]::-webkit-file-upload-button,
button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface
}

input,
textarea,
keygen,
select,
button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    margin: 0;
    font: 13.3333px Arial
}

input,
textarea,
keygen,
select,
button,
meter,
progress {
    writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb
}

button {
    -webkit-appearance: button
}
